* {
	padding: 0px;
	margin: 0px;
}

h1 {
	margin-top: 100px;
	margin-bottom: 50px;
	color: black;
}

body {
	text-align: center;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container div {
	width: 25%;
	height: 25%;
	display: inline-block;
	margin: 10px;
	border: 2px solid black;
}