<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ninja Gold</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="conteiner">
		<h1>Ninja<span>Gold</span></h1>
		<div class="buttons">
			<form action="/process" method="post" class="login">
				<p>Name: <input type="text" name="username" class="login"></p>
				<p>Email: <input type="text" name="email" class="login"></p>
				<input class="button_login" type="submit" name="submit" value="LogIn">
			</form>
		</div>
	</div>
</body>
</html>